*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: --font-roboto, sans-serif;
  background-color: #f8f9fa;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}
