.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 157px);
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.notesWrapper {
  width: 100%;
}
